<!-- Header -->
<nav id="header" class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #21252B;">
  <div class="container-fluid col-md-10">
    <a class="navbar-brand" href="index.html">
      <span class="me-1"></span>
      <img src="images/katorlys.svg" alt="" height="24" class="d-inline-block align-text-top me-2">
      <span class="fw-bold">Katorly Lab</span>
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guide/home.html">Guide</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="InvolvedDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Get involved</a>
            <ul class="dropdown-menu" style="border: 1px solid #9C9E9F;" aria-labelledby="InvolvedDropdown">
              <li><a class="dropdown-item" style="background-color: #21252B; color: #9C9E9F;" href="contribute.html">Contribute</a></li>
              <li><a class="dropdown-item" style="background-color: #21252B; color: #9C9E9F;" href="join.html">Join us</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/katorlys/Discussions/discussions">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="home.html">Insiders</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<!-- Footer -->
<footer id="footer" class="text-start text-lg-start text-light py-4" style="background-color: #21252B;">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-6 col-md-8 mb-4 mb-md-0">
        <h5 class="text-uppercase fw-bold">Katorly Lab</h5>
        <p style="color: #BFBFBF;">
          Open source projects and samples from Katorly and other partners, aiming to share and improve experience.
        </p>
        <p style="color: #BFBFBF;">
          "Katorly Lab", "Katorly Code Lab", "katorlys", and their logos and marks are original by Katorly. View full Copyright Info <a class="link text-decoration-underline" style="color: #BFBFBF;"target="_blank" href="https://katorly.gitbook.io/home/#copyright-info">here</a>.
        </p>
      </div>
      <div class="col-md-3 col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase fw-bold pb-2">Social</h5>
        <a role="button" class="btn btn-rounded btn-floating shadow-0 me-2" style="background-color: #2C313C;" data-mdb-ripple-color="dark" target="_blank" href="https://github.com/katorlys">
          <svg xmlns="http://www.w3.org/2000/svg" class="pt-2" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
        </a>
        <a role="button" class="btn btn-rounded btn-floating shadow-0 me-2" style="background-color: #2C313C;" data-mdb-ripple-color="dark" target="_blank" href="mailto:katorly@qq.com">
          <svg xmlns="http://www.w3.org/2000/svg" class="pt-2" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="text-muted text-justify">&copy; 2020-<span id="nowDate"></span> <a href="index.html" class="text-muted">Katorly Lab</a></span>
      </div>
      <div class="col">
        <span class="text-muted text-justify float-end">Build with &hearts; by <a target="_blank" href="https://github.com/orgs/katorlys/people" class="text-muted text-decoration-underline">insiders</a></span>
      </div>
    </div>
  </div>
</footer>