<div id="login" class="card py-3 z-index-0">
    <div class="card-header text-center pt-4 pb-1">
        <h2 class="font-weight-bold mb-1">Login</h2>
        <p class="mb-0">Sign in to experience more features.</p>
    </div>
    <div class="card-footer text-center pt-2 px-sm-4 px-1">
        <div class="row px-xl-5 px-sm-4 px-3">
            <div class="text-center mt-3 mb-4">
                <p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
                    Continue with
                </p>
            </div>
            <div class="col-8 mx-auto px-1">
                <a class="btn btn-outline-dark text-white w-100 p-3" style="background-color: #24292F;"
                    href="https://github.com/login/oauth/authorize?client_id=44614736b1152dfa0f3d&scope=user%3A%20read%3Auser%20write%3Adiscussion">
                    <div class="pt-1" style="white-space: nowrap; overflow: hidden;">
                        <img class="pb-1" width="24px" height="auto" src="/img/viewongithub.svg">
                        <span class="p font-weight-bold ms-2">Github</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="logging" class="card py-3 z-index-0">
    <div class="card-header text-center pt-4 pb-1">
        <h2 class="font-weight-bold mb-1">Logging in</h2>
        <p class="mb-0">Please allow up to 3 seconds...</p>
    </div>
    <div class="card-footer text-center pt-2 px-sm-4 px-1">
        <div class="row px-xl-5 px-sm-4 px-3">
            <div class="text-center my-3">
                <p class="placeholder-glow">
                    <span class="placeholder col-5"></span>
                </p>
            </div>
            <div class="placeholder-glow col-8 mx-auto px-1">
                <button class="btn btn-outline-dark text-white disabled placeholder w-100 p-4"
                    style="background-color: #24292F;">
                    <div class="pt-1" style="white-space: nowrap; overflow: hidden;">
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="loginfail" class="card py-3 z-index-0">
    <div class="card-header text-center pt-4 pb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" fill="#DC352C" viewBox="0 0 512 512">
            <path
                d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z" />
        </svg>
        <h2 class="font-weight-bold mt-3 mb-1" style="color: #DC352C;">Failed to log in</h2>
        <p class="mb-0">Please try again.</p>
    </div>
    <div class="card-footer text-center pt-2 px-sm-4 px-1">
        <div class="row px-xl-5 px-sm-4 px-3">
            <div class="text-center mt-3 mb-4">
                <p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
                    Continue with
                </p>
            </div>
            <div class="col-8 mx-auto px-1">
                <a class="btn btn-outline-dark text-white w-100 p-3" style="background-color: #24292F;"
                    href="https://github.com/login/oauth/authorize?client_id=44614736b1152dfa0f3d&scope=user%3A%20read%3Auser%20write%3Adiscussion">
                    <div class="pt-1" style="white-space: nowrap; overflow: hidden;">
                        <img class="pb-1" width="24px" height="auto" src="/img/brands/github.svg">
                        <span class="p font-weight-bold ms-2">Github</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>